<aside class="h-100 d-flex flex-column bg-dark">
  <nav class="nav text-nowrap flex-nowrap flex-column overflow-y-auto h-100">
    <div class="d-flex profile ps-3 p-2 border-bottom text-light">
      <div class="d-flex flex-column">
        <span>{{ user?.info?.name }}</span>
        <span class="user-email">{{ user?.info?.email }}</span>
      </div>
    </div>

    <div class="d-flex flex-column h-100">
      <ul class="ps-0 flex-grow-1">
        <li class="pb-3 nav-item">
          <a
            routerLink="users"
            routerLinkActive="active"
            class="nav-link d-flex cursor-pointer text-decoration-none text-light ps-3"
          >
            <span>Users</span>
          </a>
        </li>

        <li class="pb-3 nav-item">
          <a
            routerLink="products"
            routerLinkActive="active"
            class="nav-link cursor-pointer d-flex text-decoration-none text-light ps-3"
          >
            <span>Products</span>
          </a>
        </li>

        <li class="pb-3 nav-item">
          <a
            routerLink="list"
            routerLinkActive="active"
            class="nav-link cursor-pointer d-flex text-decoration-none text-light ps-3"
          >
            <span>List</span>
          </a>
        </li>

        <li class="pb-3 nav-item">
          <a
            routerLink="file-upload"
            routerLinkActive="active"
            class="nav-link cursor-pointer d-flex text-decoration-none text-light ps-3"
          >
            <span>File-upload</span>
          </a>
        </li>

        <li class="pb-3 nav-item">
          <a
            routerLink="form-array"
            routerLinkActive="active"
            class="nav-link cursor-pointer d-flex text-decoration-none text-light ps-3"
          >
            <span>Form-Array</span>
          </a>
        </li>

        <li class="pb-3 nav-item">
          <a
            routerLink="stepper-form"
            routerLinkActive="active"
            class="nav-link cursor-pointer d-flex text-decoration-none text-light ps-3"
          >
            <span>Stepper-Form</span>
          </a>
        </li>

        <li class="pb-3 nav-item">
          <a
            routerLink="chart"
            routerLinkActive="active"
            class="nav-link cursor-pointer d-flex text-decoration-none text-light ps-3"
          >
            <span>Chart</span>
          </a>
        </li>
      </ul>

      <ul class="ps-0">
        <li class="nav-item">
          <a
            class="nav-link cursor-pointer d-flex text-decoration-none text-light ps-3"
            (click)="logOut()"
          >
            <span>Log Out</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</aside>
