<section class="d-flex justify-content-center align-items-center h-100">
    <form class="bg-white p-3 w-50" [formGroup]="taskForm" (ngSubmit)="onSubmit()">

        <div class="mb-3">
            <label for="name" class="form-label fs-5 fw-bold ">Name:</label>
            <input type="text" class="form-control" formControlName="name">
        </div>

        <div class="mb-3">
            <label for="city" class="form-label fs-5 fw-bold ">City:</label>
            <input type="text" class="form-control" formControlName="city">
        </div>

        <div class="mb-3">
            <div formArrayName="tasks" *ngFor="let item of task.controls, let i= index">
                <div [formGroupName]="i">
                    <label for="tasks" class="form-label fs-5 fw-bold ">Tasks:</label>
                    <div class="d-flex">
                        <input type="text" class="form-control" formControlName="tasks">
                        <button type="button" class="btn btn btn-outline-primary btn-sm ms-3" (click)="addTasks()">+Add</button>
                        <button type="button" class="btn btn-outline-danger btn-sm ms-3" *ngIf="this.task.length != 1"
                            (click)="deleteTasks(i)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>