<h1 class="text-center bg-dark text-white p-4">Company Details</h1>
<form class="row" [formGroup]="companyDetailsForm">
    <div class="mb-3 col-6">
        <label for="companyName" class="form-label"> Company Name </label>
        <input type="text" name="companyName" id="companyName" class="form-control" formControlName="companyName">
    </div>
    <div class="mb-3 col-6">
        <label for="department" class="form-label"> Department </label>
        <input type="text" name="department" id="department" class="form-control" formControlName="department">
    </div>
    <div class="mb-3 col-6">
        <label for="branch" class="form-label"> Branch </label>
        <select class="form-select" aria-label="Default select example" formControlName="branch">
            <option selected>Open this select menu</option>
            <option value="Office 1">Office 1</option>
            <option value="Office 2">Office 2</option>
            <option value="Office 3">Office 3</option>
        </select>
    </div>
    <div class="mb-3 col-6">
        <label for="experience" class="form-label"> Experience </label>
        <input type="number" name="experience" id="experience" class="form-control" formControlName="experience">
    </div>
    <div class="d-flex justify-content-end gap-4">
        <button class="btn btn-danger" type="button" (click)="onPrevious()"> Previous </button>
        <button class="btn btn-warning" type="button" (click)="onSubmit()"> Submit </button>
    </div>
</form>