<section class="h-100 p-3 ">
    <div class="row g-4">
        <div class="col-3">
           <app-product-data>
            <h5 class="card-title" id="header">New in MI</h5>
            <a href="#" class="btn btn-primary">Show More in MI</a>
           </app-product-data>
        </div>
        <div class="col-3">
            <app-product-data>
                <h5 class="card-title" id="header">New in Realme</h5>
                <a href="#" class="btn btn-primary">Show More in Realme</a>
            </app-product-data>
         </div>
         <div class="col-3">
            <app-product-data>
                <h5 class="card-title" id="header">New in Samsung</h5>
                <a href="#" class="btn btn-primary">Show More in Samsung</a>
            </app-product-data>
         </div>
         <div class="col-3">
            <app-product-data>
                <h5 class="card-title" id="header">New in OnePlus</h5>
                <a href="#" class="btn btn-primary">Show More in OnePlus</a>
            </app-product-data>
         </div>
    </div>
</section>