<section class="m-3" *ngFor="let items of task">
    <div class="card">
        <div class="card-body">
            <div>
                <label class="fw-bold pe-2">Name: </label>
                <span>{{items?.name}}</span>
            </div>
            <div>
                <label class="fw-bold pe-2">City: </label>
                <span>{{items?.city}}</span>
            </div>
            <div>
                <label class="fw-bold pe-2">Task: </label>
                <span class="d-flex" *ngFor="let data of items.tasks, let i=index">{{i+1}}. {{data?.tasks}}</span>
            </div>
        </div>
      </div>
</section>
